.skills {
  background: linear-gradient(180deg, #0c0c1d, #111132);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .textContainer {
    flex: 1;
    align-self: flex-end;
    display: flex;
    align-items: center;
    gap: 20px;

    p {
      font-weight: 400;
      font-size: 14px;
      color: rgb(108, 108, 108);
      text-align: right;
    }
    hr {
      width: 300px;
      border: none;
      border-top: 0.5px solid rgb(108, 108, 108);
    }
  }

  .titleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 2;
    .title {
      display: flex;
      gap: 50px;
      align-items: center;
      img {
        width: 300px;
        height: 100px;
        border-radius: 50px;
        object-fit: cover;
      }

      h1 {
        font-size: 60px;
        font-weight: 100;
      }

      button {
        width: 300px;
        height: 75px;
        border-radius: 50px;
        background-color: rgb(94, 126, 169);
        border: none;
        font-size: 24px;
        font-weight: 500;
      }
    }
  }
  .listContainer {
    flex: 2;
    display: flex;
    max-width: 1200px;
    margin: auto;

    .box {
      padding: 50px;
      border: 0.5px solid rgb(108, 108, 108);
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      button {
        padding: 10px;
        background-color: rgb(94, 126, 169);
        border: none;
        cursor: pointer;
      }
    }
  }
}
