.contact {
  height: 100%;
  max-width: 1366px;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 50px;

  .textContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 30px;

    h1 {
      font-size: 70px;
      line-height: 88px;
    }

    span {
      font-weight: 100px;
    }
  }
  .formContainer {
    padding-top: 20px;
    flex: 1;
    position: relative;

    .phoneSvg {
      stroke: rgb(94, 126, 169);
      position: absolute;
      margin: auto;
      z-index: -1;
    }
    flex: 1;
    form {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    input,
    textarea {
      padding: 16px;
      background-color: transparent;
      border: 1px solid white;
      border-radius: 5px;
      color: white;
    }

    button {
      padding: 12px;
      border: none;
      background-color: rgb(94, 126, 169);
      cursor: pointer;
      font-weight: 500;
      font-size: 16px;
    }
  }
}
