.developer {
  height: calc(100vh - 100px);
  overflow: hidden;
  background: linear-gradient(180deg, #0c0c1d, #111132);
  position: relative;

  .wrapper {
    max-width: 1366px;
    height: 100%;
    margin: auto;

    .textContainer {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 40px;

      h2 {
        font-size: 50px;
        color: #5c6bc0;
        letter-spacing: 6px;
      }

      h1 {
        font-size: 77px;
      }

      .buttons {
        display: flex;
        flex-direction: row;
        gap: 2rem;

        button {
          padding: 20px;
          border: 1px solid rgb(180, 180, 180);
          border-radius: 10px;
          background-color: transparent;
          color: rgb(180, 180, 180);
          cursor: pointer;
          font-size: 14px;
        }
      }
      img {
        width: 50px;
      }
    }
  }

  .imageContainer {
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
  }
  .imageContainer img {
    height: 100%;
    width: auto;
  }

  .slidingContainer {
    position: absolute;
    font-size: 50vh;
    bottom: -140px;
    white-space: nowrap;
    color: #ffffff09;
    width: 50%;
    font-weight: bold;
  }
}
